*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppines', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
.main{
    height: 300px;
    width: 700px;
    background-color: white;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}
.profile{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 50%;
    margin-left: 30px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
}